
PORT=5000
# my sql connection
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Frontend URL
FRONTEND_URL=


# Email Configuration (Nodemailer - Universal)
# Agar Gmail use kar rahe ho to SMTP_HOST ko blank chhod sakte ho
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
EMAIL_USER=your_email_id_here@gmail.com
EMAIL_PASS=your_16_character_app_password_here